<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Picture</th>
        <th scope="col">Price</th>
        <th scope="col">Count</th>
        <th scope="col"></th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let prod of productl">
        <ng-container *ngIf="prod.isshow == 'show'">
          <td>{{ prod.id }}</td>
          <td>{{ prod.productname }}</td>
          <td>{{ prod.description }}</td>
          <td><img [src]=prod.picurl width="150" height="150" alt=""> </td>
          <td>${{ prod.price }}</td>
          <td><input type="number" id="count" placeholder=1 name="count" #count></td>
          <td><button class="btn btn-primary" (click)="addToCart(prod.id, count.valueAsNumber)">add to cart</button></td>
        </ng-container>
      </tr>
      </tbody>
    </table>
  </div>
</div>
