<h2>Manage Product</h2>
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Picture</th>
        <th scope="col">Price</th>
        <th scope="col"></th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let prod of productl">
          <td>{{ prod.id }}</td>
          <td>{{ prod.productname }} <input type="text" id="productname" name="productname" #productname></td>
          <td>{{ prod.description }} <input type="text" id="description" name="description" #description></td>
          <td>{{ prod.picurl }} <input type="text" id="picurl" name="picurl" #picurl></td>
          <td>${{ prod.price }} <input type="number" id="price" name="price" #price></td>
          <td>
            <button class="btn btn-primary" (click)="editPro(prod.id, productname.value, description.value, picurl.value, price.valueAsNumber)">Save</button>
            <button class="btn btn-primary" (click)="deleteProduct(prod.id)">Delete</button>
          </td>
      </tr>
      </tbody>
    </table>
    <a routerLink="/adp" routerLinkActive="active">Add Product</a>
  </div>
</div>
