<h2>Shopping Cart</h2>
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Count</th>
        <th scope="col">Change Count</th>
        <th scope="col"></th>



      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let prod of cartitemsl">
        <td>{{ prod.product.productname }}</td>
        <td>${{ prod.product.price }}</td>
        <td>{{ prod.itcount }}</td>
        <td>
          <input type="number" id="count" name="count" #count>
          <button class="btn btn-primary" (click)="changeCount(prod.id, count.valueAsNumber)">Save Count</button>
        </td>
        <td><button class="btn btn-primary" (click)=deleteItem(prod.id)>Delete Item</button></td>
      </tr>
      </tbody>
    </table>
    <h4 class="at-little-right">Total Amount is : ${{ totalAmount }}</h4>
    <button class="btn btn-primary at-right" (click)=placeOrder()>Place Order</button>
  </div>
  <div>

  </div>
</div>
