<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Online shopping</a>
      </div>
      <ul class="nav navbar-nav" *ngIf="this.authService.loggedIn | async">
        <li>
          <a routerLink="/bi" routerLinkActive="active">Browse Items</a>
        </li>
        <li>
          <a routerLink="/oh" routerLinkActive="active">Order and history</a>
        </li>
        <li>
          <a routerLink="/sc" routerLinkActive="active">Shopping Cart</a>
        </li>
        <ul class="nav navbar-nav" *ngIf="this.authService.isAdmin | async">
          <li>
            <a routerLink="/admp" routerLinkActive="active" class="color-me">Manage Product</a>
          </li>
          <li>
            <a routerLink="/admo" routerLinkActive="active" class="color-me">Manage Order</a>
          </li>

        </ul>
        <li>
          <a routerLink="/logout" routerLinkActive="active">Logout</a>
        </li>
<!--        <h2>hello {{username}}</h2>-->
      </ul>

    </div>
  </nav>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>




