<h2>Manage Order</h2>
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Order Id</th>
        <th scope="col">Items</th>
        <th scope="col">Status</th>
        <th scope="col">Username</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let or of order">
        <td>{{ or.id }}</td>
        <td>
          <b *ngFor="let itm of or.itemlist">
            {{ itm.product.productname}} :
            {{itm.itcount}}. <br>
          </b>
        </td>
        <td>{{ or.status }}</td>
        <td>{{ or.user.username }}</td>
        <td><button class="btn btn-primary" (click)=deleteOrder(or.id)>Delete This Order</button></td>
    </table>
  </div>
</div>
