<h2>Add Product</h2>
<form (submit)="addProduct(registerForm.value)" #registerForm="ngForm">
  <div class="form-group">
    <label for="productname">Productname</label>
    <input type="text" class="form-control" id="productname" name="productname" ngModel>
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="number" class="form-control" id="price" name="price" ngModel>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="test" class="form-control" id="description" name="description" ngModel>
  </div>
  <div class="form-group">
    <label for="picurl">Picture URL</label>
    <input type="test" class="form-control" id="picurl" name="picurl" ngModel>
  </div>
  <button class="btn btn-primary" type="submit">Add This Product</button>
</form>
