<h2>Order history</h2>
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Order Id</th>
        <th scope="col">Items</th>
        <th scope="col">Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let or of order;">
        <td>{{ or.id }}</td>
      <td>
        <b *ngFor="let itm of or.itemlist">
          {{ itm.product.productname}} :
          {{itm.itcount}},
          ${{itm.itcount*itm.product.price}}. <br>
        </b>
      </td>
        <td>{{ or.status }}</td>
      </tr>



    </table>
  </div>
</div>
